version: '3.8'
services:
  db:
    image: postgres:16.1-alpine
    ports:
      - ${PORT_DB}:5432
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      PGDATA: '/var/lib/postgresql/data/pgdata'
    volumes:
      - pgdata:/data/db
      #- ./create.sql:/docker-entrypoint-initdb.d/create_tables.sql
  M1:
    image: node:20
    command: bash -c "npm install && npx prisma generate && npx prisma migrate deploy && npm run start:dev"
    working_dir: /app
    volumes:
      - ./M1/:/app
    ports:
      - ${PORT_M1_SERVICE}:${PORT_M1_SERVICE}
    environment:
      NODE_ENV: ${NODE_ENV}
      APP_URL: 'http://${HOST}:${PORT_M1_SERVICE}'
      RMQ_URL: amqp://${RM_USERNAME}:${RM_PASSWORD}@rabbitmq:5672
      QUEUE_FROM_M1: ${QUEUE_FROM_M1}
      QUEUE_FROM_M2: ${QUEUE_FROM_M2}
      #DATABASE_URL: postgresql://${DB_USERNAME}:${DB_PASSWORD}@db:5432/${DB_NAME}?schema=public
  M2:
    image: node:20
    restart: always
    depends_on:
      - 'rabbitmq'
    command: bash -c "npm install && npx tsx watch .src/index.ts"
    working_dir: /app
    volumes:
      - ./M2/:/app
    environment:
      QUEUE_FROM_M1: ${QUEUE_FROM_M1}
      QUEUE_FROM_M2: ${QUEUE_FROM_M2}
      RMQ_URL: amqp://${RM_USERNAME}:${RM_PASSWORD}@rabbitmq:5672
    ports:
      - ${PORT_M2_SERVICE}:${PORT_M2_SERVICE}

  rabbitmq:
    image: rabbitmq:3-management
    hostname: rabbitmq
    restart: always
    environment:
      - RABBITMQ_DEFAULT_USER=${RM_USERNAME}
      - RABBITMQ_DEFAULT_PASS=${RM_PASSWORD}
      - RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS=-rabbit log_levels [{connection,error},{default,error}] disk_free_limit 2147483648
    volumes:
      - ./rabbitmq:/var/lib/rabbitmq
    ports:
      - ${RM_PORT1}:15672
      - ${RM_PORT2}:5672

volumes:
  pgdata:
  app:
  rabbitmq:
